<div>
    <h2 id="page-heading">
        <span jhiTranslate="openWarehouseManagementApp.outOrder.home.title">Out Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-out-order" [routerLink]="['/out-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="openWarehouseManagementApp.outOrder.home.createLabel">
            Create new Out Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="outOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="openWarehouseManagementApp.outOrder.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="information"><span jhiTranslate="openWarehouseManagementApp.outOrder.information">Information</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderQuantity"><span jhiTranslate="openWarehouseManagementApp.outOrder.orderQuantity">Order Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="delivered"><span jhiTranslate="openWarehouseManagementApp.outOrder.delivered">Delivered</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderDate"><span jhiTranslate="openWarehouseManagementApp.outOrder.orderDate">Order Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deliveryDate"><span jhiTranslate="openWarehouseManagementApp.outOrder.deliveryDate">Delivery Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="item.name"><span jhiTranslate="openWarehouseManagementApp.outOrder.item">Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let outOrder of outOrders ;trackBy: trackId">
                <td><a [routerLink]="['/out-order', outOrder.id, 'view' ]">{{outOrder.id}}</a></td>
                <td>{{outOrder.title}}</td>
                <td>{{outOrder.information}}</td>
                <td>{{outOrder.orderQuantity}}</td>
                <td>{{outOrder.delivered}}</td>
                <td>{{outOrder.orderDate | date:'mediumDate'}}</td>
                <td>{{outOrder.deliveryDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="outOrder.item">
                        <a [routerLink]="['../item', outOrder.item?.id, 'view' ]" >{{outOrder.item?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/out-order', outOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/out-order', outOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'out-order', { outlets: { popup: outOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="outOrders && outOrders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
